$blackCoral: #515C67;
$silverSand: #AEBEC1;
$cultured: #F5F5F5;
$white: #FFFFFF;
$queenPink: #E8C4CB;
$rosyBrown: #AD8587;

$manatee: #9F9AA4;
$palePink: #E4CAC8;
$platinum: #E9EDEC;
$opal: #A0BAB3;
$thistle: #CAB1BD;

